* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Menlo', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #00cc66;
}

code {
  font-family: 'Menlo', 'Courier New', monospace;
}

#root {
  min-height: 100vh;
}
